php_value display_errors 1

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /portfolio/
    
    RewriteCond %{REQUEST_URI} admin.*
    RewriteRule ^admin/(.*)$ index.php?url=$1&base=admin [L,NC,QSA]
    RewriteCond %{REQUEST_URI} !^admin.*
    RewriteRule ^(.*)$ index.php?url=$1 [L,NC,QSA]
</IfModule>